<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="mailSettings">
      <section name="smtp_1" type="System.Net.Configuration.SmtpSection"/>
    </sectionGroup>
  </configSections>
  <mailSettings>
    <smtp_1 from="MyMail &lt;mahalakshmi.gunti7@gmail.com&gt;">
      <!--<network host="smtp.gmail.com" port="587" userName="mahalakshmi.gunti7@gmail.com" password="padma@1994"></network>-->
      <network host="smtp.gmail.com" port="587" userName="teammatrix009@gmail.com" password="team12345"></network>
    </smtp_1>
    <!--<smtp_1 from="AppTest &lt;apptest@ggktech.com&gt;">
      <network host="smtp.gmail.com" port="587" userName="apptest@ggktech.com" password="Hyderabad007"></network>
    </smtp_1>-->
  </mailSettings>
  
  <appSettings>
    <!-- TfsProject Configuration -->
    <add key="collectionUri" value=" https://dev.azure.com/KantolaTraining/" />
    <add key="projectName" value="Kantola LMS" />
    <!--Folder Hierarchy seperated by commas -->
    <add key="queryFolderHierarchy" value="Shared Queries,Daily Status Latest" />
    <!--For sending monthly status-->
    <!--<add key="queryFolderHierarchy" value="Shared Queries,Monthly Sprint Status mail" />-->

    <!--Email Settings-->
    <add key="subject" value="Test Daily Status" />
    <add key="fromMail" value="mahalakshmi.gunti7@gmail.com" />
    <add key="toMail" value="mahalakshmi.gunti@ggktech.com" />
    <add key="ccMail" value="" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>